{% extends 'base.html' %}
{% load static %}

{% block title %}DevGuru - Главная{% endblock %}

{% block content %}

<div class="left-column">
    <div class="questions-navigation">
        <a href="{% url 'index' %}" class="nav-link {% if current_sort == 'new' %}nav-link--active{% endif %}">
            Новые вопросы
        </a>
        <a href="{% url 'hot' %}" class="nav-link {% if current_sort == 'hot' %}nav-link--active{% endif %}">
            Лучшие вопросы
        </a>
    </div>
    
    {% for question in questions %}
    <div class="question">
        <div class="question__avatar">
            <img src="#">
        </div>
        <div class="question__content">
            <a href="{% url 'question' question.id %}" class="question__title">{{ question.title }}</a>
            <p class="question__description">{{ question.detailed }}</p>
            <div class="question__meta">
                <div class="question__tags">
                    {% for tag in question.tags.all %}
                    <a href="{% url 'tag' tag.title %}" class="tag">{{ tag.title }}</a>
                    {% endfor %}
                </div>
                <div class="question__stats">
                    <span class="question__likes">❤️ {{ question.likes_count }}</span>
                    <a href="{% url 'question' question.id %}" class="question__answers-link">
                        Ответы ({{ question.answer_set.count }})
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% include 'pagination.html' with page=questions %}
</div>

<div class="right-column">
    {% include 'sidebar.html' %}
</div>
{% endblock %}