{% extends 'base.html' %}
{% load static %}

{% block title %}
DevGuru - Главная
{% endblock %}

{% block content %}
<div class="left-column">
    <div class="questions-navigation">
        <a href="{% url 'index' %}" class="nav-link {% if current_sort == 'new' %}nav-link--active{% endif %}">
            Новые вопросы
        </a>
        <a href="{% url 'hot' %}" class="nav-link {% if current_sort == 'hot' %}nav-link--active{% endif %}">
            Лучшие вопросы
        </a>
    </div>

    <div id="questions-container">
    {% for question in questions %}
        {% include 'components/question_card.html' %}
    {% endfor %}

    {% include 'pagination.html' with page=questions %}
     </div>
</div>

<div class="right-column">
    {% include 'sidebar.html' %}
</div>
{% endblock %}
