{% extends 'base.html' %}
{% load static %}

{% block title %}DevGuru - Регистрация{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/signup.css' %}">
{% endblock %}

{% block content %}
<div class="left-column">
    <div class="registration">
        <h2 class="registration-title">Registration</h2>        
        <form class="registration-form" method="POST" action="{% url 'signup' %}">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="alert alert-error">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-group">
                <label for={{ form.username.id_for_label }} class="form-input">Username</label>
                {{ form.username }}
                {% if form.username.errors %}
                <div style="color: red; font-size: 0.875rem;">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for={{ form.email.id_for_label }} class="form-input">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                <div style="color: red; font-size: 0.875rem;">
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for={{ form.password1.id_for_label }} class="form-input">Password</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                <div style="color: red; font-size: 0.875rem;">
                    {% for error in form.password1.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for={{ form.password2.id_for_label }} class="form-input">Repeat Password</label>
                {{ form.password2 }}
                {% if form.password1.errors %}
                <div style="color: red; font-size: 0.875rem;">
                    {% for error in form.password2.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            
            <button type="submit" class="btn">Register</button>
        </form>
    </div>
</div>

<div class="right-column">
    {% include 'sidebar.html' %}
</div>
{% endblock %}