{% extends 'base.html' %}
{% load static %}

{% block title %}DevGuru - Вопросы по тегу {{ tag_name }}{% endblock %}

{% block content %}
<div class="left-column">
    <h2>Вопросы по тегу: {{ tag_name }}</h2>
    
    {% for question in questions %}
    <div class="question">
        <div class="question__avatar">
            <img src="#">
        </div>
        <div class="question__content">
            <a href="{% url 'question' question.id %}" class="question__title">{{ question.title }}</a>
            <p class="question__description">{{ question.detailed }}</p>
            <div class="question__meta">
                <div class="question__tags">
                    {% for tag in question.tags.all %}
                    <a href="{% url 'tag' tag.name %}" class="tag">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                <a href="{% url 'question' question.id %}" class="question__answers-link">Ответы ({{ question.id }})</a>
            </div>
        </div>
    </div>
    {% endfor %}

    {% include 'pagination.html' with page=questions %}
</div>

<div class="right-column">
    {% include 'sidebar.html' %}
</div>
{% endblock %}