.login {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 40px;
    margin: 50px auto;
    max-width: 400px;
    width: 100%;
}

.login-title {
    color: #081924;
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-register-link {
    color: #326183;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 10px;
}

.login-register-link:hover {
    color: #081924;
    text-decoration: underline;
}


.login-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 10px;
}