<div class="sidebar-block">
    <h3 class="sidebar-block__title">Популярные теги</h3>
    <div class="tags-container">
        {% for tag in popular_tags %}
        <a href="{% url 'tag' tag.title %}" class="tag">{{ tag.title }}</a>
        {% empty %}
        <span class="no-tags">Тегов пока нет</span>
        {% endfor %}
    </div>
</div>

<div class="sidebar-block">
    <h3 class="sidebar-block__title">Лучшие пользователи</h3>
    <div class="users-list">
        <a href="#" class="user-profile">
            <img src="#" alt="Аватар" class="user-profile__avatar">
            <span>Ignat Vaschilo</span>
        </a>
        <a href="#" class="user-profile">
            <img src="#" alt="Аватар" class="user-profile__avatar">
            <span>Dr.Penis</span>
        </a>
        <a href="#" class="user-profile">
            <img src="#" alt="Аватар" class="user-profile__avatar">
            <span>Annihilator3000</span>
        </a>
        <a href="#" class="user-profile">
            <img src="#" alt="Аватар" class="user-profile__avatar">
            <span>OOO"Бнал"</span>
        </a>
    </div>
</div>